.flexbox {
    display: flex;
}

.cercle {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.circle {
    border-radius: 50%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    color:#FFF;
}

.JS {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color:#1BBC9B;
}
.PHP {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: #2274A5;
}
.Ruby {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #87E53E;
}
.HTML {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #F1DD23;
}
.CSS {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #FF7D45;
}
.CSS {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #FF7D45;
}
.Git {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#1BBC9B;
}
.JQuery {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#2274A5;
}
.Symfony {
    width: 140px;
    height: 140px;
    line-height: 140px;
    background-color:#FF7D45;
}
.Boostrap {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color:#F1DD23;
}
.Wordpress {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#87E53E;
}
.MySQL {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color:#2274A5;
}
.Behat {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color:#1BBC9B;
}
.Github {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color:#F1DD23;
}
.Less {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#87E53E;
}




.bubble {
   animation-name: bubble;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble {
   from {
       transform: translateY(50vh);
   }
   to {
       transform: translateY(-20vh) translateX(100vh);
   }
}
.bubble_un {
   animation-name: bubble_un;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_un {
   from {
       transform: translateY(50vh) translateX(180px);
   }
   to {
       transform: translateY(-20vh) translateX(58px);
   }
}
.bubble_deux {
   animation-name: bubble_deux;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_deux {
   from {
       transform: translateY(-100px) translateX(75px);
   }
   to {
      transform: translateY(300px) translateX(405px);
   }
}
.bubble_trois {
   animation-name: bubble_trois;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_trois {
   from {
       transform: translateY(-200px) translateX(55px);
   }
   to {
      transform: translateY(400px) translateX(405px);
   }
}



