.flexbox {
    display: flex;
}

.cercle {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.circle {
    border-radius: 50%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    color:#FFF;
}

.JS {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color:#1BBC9B;
}
.PHP {
    width: 180px;
    height: 180px;
    line-height: 180px;
    background-color: #2274A5;
}
.Ruby {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #87E53E;
}
.HTML {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #F1DD23;
}
.CSS {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #FF7D45;
}
.CSS {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #FF7D45;
}
.Git {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#1BBC9B;
}
.JQuery {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#2274A5;
}
.Symfony {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color:#FF7D45;
}
.Bootstrap {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color:#F1DD23;
}
.Wordpress {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color:#87E53E;
}
.MySQL {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color:#2274A5;
}
.Behat {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color:#1BBC9B;
}
.Github {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color:#F1DD23;
}
.Less {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color:#87E53E;
}




.bubble {
   animation-name: bubble;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 13s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble {
   from {
       transform: translateY(0px) translateX(0px);
   }
   to {
       transform: translateY(400px) translateX(700px);
   }
}
.bubble_un {
   animation-name: bubble_un;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 10s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_un {
   from {
       transform:  translateX(180px);
   }
   to {
       transform: translateY(90px) translateX(788px);
   }
}
.bubble_deux {
   animation-name: bubble_deux;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 17s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_deux {
   from {
       transform: translateY(0px) translateX(75px);
   }
   to {
      transform: translateY(250px) translateX(405px);
   }
}
.bubble_trois {
   animation-name: bubble_trois;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_trois {
   from {
       transform: translateY(0px) translateX(55px);
   }
   to {
      transform: translateY(50px) translateX(905px);
   }
}
.bubble_quatre {
   animation-name: bubble_quatre;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 18s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_quatre {
   from {
       transform: translateY(-100px) translateX(605px);
   }
   to {
      transform: translateY(-300px) translateX(55px);
   }
}
.bubble_cinq {
   animation-name: bubble_cinq;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_cinq {
   from {
       transform: translateY(-200px) translateX(405px);
   }
   to {
      transform: translateY(-400px) translateX(100px);
   }
}
.bubble_six {
   animation-name: bubble_six;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-duration: 20s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_six {
  from {
       transform: translateY(-600px) translateX(805px);
   }
   to {
      transform: translateY(-100px) translateX(985px);
   }
}
.bubble_sept {
   animation-name: bubble_sept;
   animation-iteration-count: infinite;
   animation-timing-function: ease-out;
   animation-duration: 10s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_sept {
from {
       transform: translateY(-200px) translateX(705px);
   }
   to {
      transform: translateY(-700px) translateX(600px);
   }
}
.bubble_huit {
   animation-name: bubble_huit;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 8s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_huit {
from {
       transform: translateY(-800px) translateX(90px);
   }
   to {
      transform: translateY(-580px) translateX(100px);
   }
}
.bubble_neuf {
   animation-name: bubble_neuf;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 18s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_neuf {
from {
       transform: translateY(-800px) translateX(700px);
   }
   to {
      transform: translateY(-480px) translateX(350px);
   }
}
.bubble_dix {
   animation-name: bubble_dix;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 8s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_dix {
from {
       transform: translateY(-600px) translateX(400px);
   }
   to {
      transform: translateY(-880px) translateX(280px);
   }
}
.bubble_eleven {
   animation-name: bubble_eleven;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 10s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_eleven {
from {
       transform: translateY(-600px) translateX(900px);
   }
   to {
      transform: translateY(-680px) translateX(0px);
   }
}
.bubble_twelve {
   animation-name: bubble_twelve;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 20s;
   animation-direction: alternate;
   animation-delay: 0s;
}
@keyframes bubble_twelve {
from {
       transform: translateY(-1100px) translateX(900px);
   }
   to {
      transform: translateY(-1150px) translateX(0px);
   }
}
