

body {
    font-family: 'Lobster', cursive;
}

.main section.page1 {
   background: #1BBC9B;

}



.main section.page2 {
    background: #4BBFC3;
}


/*  page 3 couleur:
mauve: #A18898
vert clair: #8AAD87
vert : #395436*/

.main section.page3 {
    background: #7BAABE;
}

.main section.page4 {
    background: #F5F5F5;
}


/*  page form couleur:
HEX: #DFDDE4
HEX: #BDBABC
HEX: #9A9CA0
HEX: #6A7F8A
HEX: #554F56
HEX: #312B2F
HEX: #1E2229
HEX: #1E1921
*/

.main section.form {
    background-image: url(../img/contact.jpg);
    background-size: cover;
    opacity: 0.8;
}
